<template>
    <lightning-card>
        <table class="slds-table slds-table_cell-buffer slds-table_bordered"
            aria-labelledby="element-with-table-label other-element-with-table-label">
            <thead>
                <tr class="slds-line-height_reset">
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Name">Name</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Gender">Gender</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Designation">Designation</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Full Time">Full Time</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Salary">Salary</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Email">Email</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Description">Description</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Action">Action</div>
                    </th>
                </tr>
            </thead>
            <tbody>

                <template for:each={accountList} for:item="acc" for:index="index">
                    <tr key={acc} class="slds-hint-parent">
                        <td data-label="Name">
                            <div if:true={acc.edit}>
                                <lightning-input type="text" data-id={acc.id} name="Name" value={acc.Name}
                                    onchange={onNameHandle}></lightning-input>
                            </div>
                            <div if:false={acc.edit}>{acc.Name}</div>
                        </td>
                        <td data-label="Gender">
                            <div if:true={acc.edit}>
                                <lightning-radio-group name="Gender" data-id={acc.id} options={options}
                                    value={acc.Gender} type="radio" onchange={onGenderHandle}></lightning-radio-group>
                            </div>
                            <div if:false={acc.edit}>{acc.Gender}</div>

                        </td>
                        <td data-label="Designation">
                            <div if:true={acc.edit}>
                                <div class="slds-form-element">
                                    <div class="slds-form-element__control">
                                        <div class="slds-select_container">
                                            <select class="slds-select" data-id={acc.id} name="Designation"
                                                value={acc.Designation} onchange={onDesignationHandle}>
                                                <option value="">Role</option>
                                                <option>Trainee</option>
                                                <option>Developer</option>
                                                <option>HR</option>
                                                <option>CEO</option>
                                                <option>Manager</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div if:false={acc.edit}>{acc.Designation}</div>
                        </td>
                        <td data-label="Full Time">
                            <div if:true={acc.edit}>
                                <lightning-input type="checkbox" data-id={acc.id} name="FullTime"
                                    value={acc.FullTime} onchange={onFullTimeHandle} checked={acc.fulltime}></lightning-input>
                            </div>
                            <div if:false={acc.edit}>
                                <div if:true={acc.fulltime}>
                                    <lightning-input type="checkbox" data-id={acc.id} name="FullTime"
                                        value={acc.FullTime} onchange={onFullTimeHandle} checked disabled>
                                    </lightning-input>
                                </div>
                                <div if:false={acc.fulltime}>
                                    <lightning-input type="checkbox" data-id={acc.id} name="FullTime"
                                        value={acc.FullTime} onchange={onFullTimeHandle} disabled></lightning-input>
                                </div>
                            </div>
                        </td>
                        <td data-label="Salary">
                            <div if:true={acc.edit}>
                                <lightning-input type="number" data-id={acc.id} name="Salary" value={acc.Salary}
                                    onchange={onSalaryHandle}></lightning-input>
                            </div>
                            <div if:false={acc.edit}>{acc.Salary}</div>
                        </td>
                        <td data-label="Email">
                            <div if:true={acc.edit}>
                                <lightning-input type="email" data-id={acc.id} name="Email" value={acc.Email}
                                    onchange={onEmailHandle}></lightning-input>
                            </div>
                            <div if:false={acc.edit}>{acc.Email}</div>
                        </td>
                        <td data-label="Description">
                            <div if:true={acc.edit}>
                                <lightning-input type="textarea" data-id={acc.id} name="Description"
                                    value={acc.Description} onchange={onDescriptionHandle}></lightning-input>
                            </div>
                            <div if:false={acc.edit}>{acc.Description}</div>
                        </td>
                        <td>
                            <div if:true={acc.edit}>
                                <lightning-button variant="brand" label="SAVE" title="Primary action"
                                    class="slds-m-left_x-small " access-key={acc.id} onclick={saveRow}>
                                </lightning-button>
                                <lightning-button variant="destructive" label="DELETE" title="Destructive action"
                                    class="slds-m-left_x-small " access-key={acc.id} onclick={removeRow}>
                                </lightning-button>
                            </div>
                            <div if:false={acc.edit}>
                                <lightning-button variant="brand" label="EDIT" title="Primary action"
                                    class="slds-m-left_x-small" access-key={acc.id} onclick={editRow}>
                                </lightning-button>
                                <lightning-button variant="destructive" label="DELETE" title="Destructive action"
                                    class="slds-m-left_x-small " access-key={acc.id} onclick={removeRow}>
                                </lightning-button>
                            </div>

                        </td>
                    </tr>
                </template>

            </tbody>
        </table>
        <div class="slds-p-top_large">
            <lightning-button variant="success" label="ADD ROW" title="Successful action" class="slds-m-left_x-small "
                onclick={addNewRow}>
            </lightning-button>
        </div>
    </lightning-card>
</template>