<template>
    <lightning-card title="TASK TWO">
        <div class="slds-p-around_medium">
            <lightning-input type="text" name="Name" label="Name" onchange={searchKey}></lightning-input>
        </div>
        <div class="slds-p-around_medium">
            <lightning-button variant="success" label="SEARCH NAME" title="Successful action"
                class="slds-m-left_x-small " onclick={onButtonClick}></lightning-button>
        </div>

        <template if:true={responseButton}>
        <template for:each={accountListNew} for:item="acc">
                <div class="slds-p-around_medium" key={acc.Name}>{acc.Name}</div>
            </template>
        </template>



    </lightning-card>

</template>