<template>
    <lightning-card title="TASK ONE">
            <div class="slds-p-around_medium">
                <lightning-input type="text" name="Name" label="Name" onchange={searchKeyHandler}></lightning-input>
            </div>
            <template if:true={response}>
            <template for:each={accountList} for:item="acc">
                <div key={acc.Id} class="slds-p-around_medium" >{acc.Name}</div>
            </template>
        </template>

    </lightning-card>
</template>