<template>
    <lightning-card title="Table Task">
        <div>
            <lightning-datatable key-field="id" data={accountList} columns={columns} hide-checkbox-column=true >     
            </lightning-datatable>
        </div>
        <div class="slds-p-top_large">
            <lightning-button variant="success" label="ADD ROW" title="Successful action" onclick={addRow} class="slds-m-left_x-small">
            </lightning-button>
        </div>

    </lightning-card>
</template>