<template>
    <article class="slds-card">
        <div class="slds-grid slds-gutters slds-wrap">
            <div class="slds-col slds-size_1-of-2 ">
                <div class="slds-form-element">
                    <div class="slds-p-around_medium">
                        <label class="slds-form-element__label" for="text-input-id-47">
                            <abbr class="slds-required" title="required">* </abbr>First Name</label>
                        <div class="slds-form-element__control">
                            <input type="text" id="text-input-id-47" placeholder="First Name" required="" class="slds-input" onchange={onFirstNameHandle} />
                        </div>
                    </div> 
                </div>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <div class="slds-form-element">
                    <div class="slds-p-around_medium">
                    <label class="slds-form-element__label" for="text-input-id-47">
                        <abbr class="slds-required" title="required">* </abbr>Last Name</label>
                    <div class="slds-form-element__control">
                        <input type="text" id="text-input-id-48" placeholder="Last Name" required="" class="slds-input" onchange={onLastNameHandle}/>
                    </div>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-1">
                <fieldset class="slds-form-element">
                    <div class="slds-p-around_medium">
                    <legend class="slds-form-element__legend slds-form-element__label">Gender</legend>
                    <div class="slds-form-element__control">
                        <span class="slds-radio">
                            <input type="radio" id="radio-79" value="Male" name="default"  onchange={onGenderHandle} />
                            <label class="slds-radio__label" for="radio-79">
                                <span class="slds-radio_faux"></span>
                                <span class="slds-form-element__label">Male</span>
                            </label>
                        </span>
                        <span class="slds-radio">
                            <input type="radio" id="radio-80" value="Female" name="default" onchange={onGenderHandle} />
                            <label class="slds-radio__label" for="radio-80">
                                <span class="slds-radio_faux"></span>
                                <span class="slds-form-element__label">Female</span>
                            </label>
                        </span>
                    </div>
                    </div>
                </fieldset>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <div class="slds-form-element">
                    <div class="slds-p-around_medium">
                        <label class="slds-form-element__label" for="text-input-id-47">
                            <abbr class="slds-required" title="required">* </abbr>Designation</label>
                        <div class="slds-form-element__control">
                            <input type="text" id="text-input-id-44" placeholder="Designation" required="" class="slds-input" onchange={onDesignationHandle}/>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <div class="slds-form-element">
                    <div class="slds-p-around_medium">
                    <div class="slds-form-element__control">
                        <div class="slds-checkbox">
                            <input type="checkbox" name="options" id="checkbox-unique-id-116"  value="checkbox-unique-id-116"  onchange={onFullTimeHandle} />
                            <label class="slds-checkbox__label" for="checkbox-unique-id-116">
                                <span class="slds-checkbox_faux"></span>
                                <span class="slds-form-element__label">Full Time</span>
                            </label>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <div class="slds-form-element">
                    <div class="slds-p-around_medium">
                    <label class="slds-form-element__label" for="text-input-id-57">
                      <abbr class="slds-required" title="required">* </abbr>Salary</label>
                    <div class="slds-form-element__control">
                      <input type="number" id="text-input-id-57" placeholder="Salary" required="" class="slds-input" onchange={onSalaryHandle} />
                    </div>
                  </div>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <div class="slds-form-element">
                    <div class="slds-p-around_medium">
                    <label class="slds-form-element__label" for="text-input-id-57">
                      <abbr class="slds-required" title="required">* </abbr>Email</label>
                    <div class="slds-form-element__control">
                      <input type="email" id="text-input-id-58" placeholder="Email" required="" class="slds-input" onchange={onEmailHandle} />
                    </div>
                  </div>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-1">
                <div class="slds-form-element">
                    <div class="slds-p-around_medium">
                    <label class="slds-form-element__label" for="textarea-id-01">Description</label>
                    <div class="slds-form-element__control">
                      <textarea id="textarea-id-01" placeholder="Description" class="slds-textarea" onchange={onDescriptionHandle}></textarea>
                    </div>
                  </div>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <div class="slds-p-around_medium">
                <div class="slds-p-top_medium"><button class="slds-button slds-button_brand" onclick={validate}>SUBMIT</button> </div>
                
            </div> 
            </div>
            
            
        </div>

        <template if:true={submit}>
            <div class="slds-p-around_medium">
            <div>Name: {firstName} {lastName} </div>
            <div>Gender : {gender}</div>
            <div>Designation: {designation} </div>
            <div>Full Time : {fulltime} </div>
            <div>Salary : {salary} </div>
            <div>Email : {email} </div>
            <div>Description : {description} </div>
            </div>
        </template>
        
       


    </article>



</template>